* {
    margin: 0px 0px;
    box-sizing: border-box;
    padding: 0%;
    max-width: 1440px;
    max-width: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

nav {
    background-color: black;
    display: flex;
    padding: 2px 5%;
    height: 12vh;
    /* height: 2%; */
}

nav img {
    height: 2rem;
    margin-top: 1.5%;

}

nav ul {
    display: flex;
    margin-top: 2.2%;
    margin-left: 5%;
}

nav li {
    list-style: none;
    color: white;
    margin: 0px 5%;

    font-weight: bold;
}
nav li:hover{
  color: blueviolet;
  cursor: pointer;
}

.line {
    font-weight: 200px;
    /* font-size: 2rem; */
    margin-right: 10%;
    /* margin-left: 20px; */
}

nav button {
    /* margin-left: 50%; */
    position: absolute;
    left: 85%;
    width: 10%;
    height: 5%;
    margin-top: 1.2rem;
    color: white;
    border: 1px solid rgb(179, 34, 179);
    border-radius: 6px;
    background-color: rgb(179, 34, 179);
    font-weight: bold;
}
nav button:hover{
    color:rgb(179, 34, 179);;
    cursor: pointer;
    background-color: #fff;
    transition: .5s ease;
}

main section {

    position: absolute;
    top: 30%;
    left: 35%;
    width: 50%;
    height: 30%;
    color: white;
    z-index: 1;
  
}

main section h1 {
    width: 100%;
    font-size: 3.5rem;

}

main section p {
    /* margin-top: 2%; */
    margin-left: 12%;
    font-size: 20px;
}

main button {
    margin-top: 5%;
    margin-left: 20%;
    width: 35%;
    height: 28%;
    margin-top: 1.2rem;
    color: white;
    border: 1px solid rgb(179, 34, 179);
    border-radius: 10px;
    background-color: rgb(179, 34, 179);
    /* font-weight: bold; */
    font-size: 20px;
}

main img {
    height: 100vh;
    width: 100%;
}