
    * {
        margin: 0;
        padding: 0;
        background-color:#f7f7f4;
        box-sizing: border-box;
        
        /* search on google */


    }
    body{
        max-width: 1440px;
        margin: auto;
    }

    nav {
        padding: 20px 10%;
        height: 15vh;
       
    }

    nav ul {
        display: flex;
        align-items: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    nav ul li {
        list-style: none;
        margin-right: 5%;
        font-weight: 500;
 

    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;

    }

    .leftmain {
        width: 40%;
        margin-top: 135px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .rightmain {
        width: 50%;
        height: auto;

    }

    .leftmain h1 {
        font-size: 47px;
    }

    .leftmain p {
        margin: 5% 0;
    }

    .leftmain button {
        padding: 15px 20px;
        border: none;
        background-color: mediumseagreen;
        border-radius: 8px;
        color: white;
    }